.font-peace {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.font-lonely {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}

.font-main {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-smallText {
  font-family: "Mukta Vaani", sans-serif;
  font-weight: 400;
  font-style: normal;
}
